---
layout: base.liquid
---

<main class="recipe" data-category="category-{{data.category}}">
  <div class="intro-banner panel">
    <div class="intro-banner__hero-wrapper">
      {% if img.alt %}
        {% if img.url %}
        <img class="intro-banner__img" src="{{img.url}}" alt="{{img.alt}}" />
        {% else %}
        <img class="intro-banner__img" src="../../assets/{{title|slug/}}.jpg" alt="{{img.alt}}" />
        {% endif %}
        <div class="intro-banner__img-credit">Photo Credit: {{img.credit}}</div>
      {% endif %}
    </div>
    <div class="intro-banner__content">
      <button class="intro-banner__print btn--icon btn" onClick="window.print()">Print</button>
      <div class="intro-banner__links">
        <div class="intro-banner__source"><span>Source:</span> 
          {% if data.url %}
            <a href="{{data.url}}" class="intro-banner__source-btn btn--secondary btn">{{data.author}}</a>
          {% else if data.author %}
            <span class="intro-banner__source-text">{{data.author}}</span>
          {% endif %}
        </div>
        <p class="intro-banner__category">{{data.category}}</p>
      </div>
      <h2 class="intro-banner__title">{{title}}</h2>
      <div class="intro-banner__quick-facts">
        {% if data.servings %}
        <p class="intro-banner__servings intro-banner__quick-fact">
          <span class="intro-banner__servings-icon intro-banner__icon"></span>
          <em>Servings</em> 
          {{data.servings}}</p>
        {% endif %}

        {% if data.time %}
        <p class="intro-banner__time intro-banner__quick-fact">
          <span class="intro-banner__time-icon intro-banner__icon"></span>
          <em>Time</em> {{data.time}}</p>
        {% endif %}

        {% if data.difficulty %}
        <p class="intro-banner__difficulty intro-banner__quick-fact" data-difficulty='{{data.difficulty}}'>
          <span class="intro-banner__difficulty-icon intro-banner__icon"></span>
          <em>Difficulty</em> {{data.difficulty}}</p>
        {% endif %}
      </div>
    </div>
  </div>

  <section class="ingredient-panel panel">
    <div class="ingredient-panel__content">
      <h3 class="header-secondary">Ingredients</h3>
      {% if ingredients[0].title %}
        {% for section in ingredients %}
          <h4>{{ section.title }}</h4>
          <ul>
            {% for ingredient in section.list %}
              <li>{{ ingredient }}</li>
            {% endfor %}
          </ul>
        {% endfor %}
      {% else %}
        <ul>
          {% for ingredient in ingredients %}
            <li>{{ ingredient }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </section>

  <section class="instructions-panel panel">
    <h3 class="header-secondary">Instructions</h3>
    <div class="instructions-panel__content">{{content | safe }}</div>
  </section>

  {% if nutrition %}
  <aside class="nutrition-panel panel">

    <div class="nutrition-panel__content">
      <h3 class="header-secondary">Nutritional Information</h3>
      <ul>
        <li class="nutrition-panel__callout">{{nutrition.calories}} <em>calories</em></li>
        <li class="nutrition-panel__item"><em>Total Fat</em>{{nutrition.totalFat}}g</li>
        <li class="nutrition-panel__item"><em>Saturated Fat</em>{{nutrition.saturatedFat}}g</li>
        <li class="nutrition-panel__item"><em>Trans Fat</em>{{nutrition.transFat}}g</li>
        <li class="nutrition-panel__item"><em>Cholesterol</em>{{nutrition.cholesterol}}mg</li>
        <li class="nutrition-panel__item"><em>Total Carbs</em>{{nutrition.carbs}}g</li>
        <li class="nutrition-panel__item"><em>Sodium</em>{{nutrition.sodium}}mg</li>
        <li class="nutrition-panel__item"><em>Sugar</em>{{nutrition.sugar}}g</li>
        <li class="nutrition-panel__item"><em>Protein</em>{{nutrition.protein}}g</li>
        <li class="nutrition-panel__item"><em>Fiber</em>{{nutrition.fiber}}g</li>
      </ul>
    </div>
  </aside>
  {% endif %}
</main>
