---
layout: base.liquid
---

<main class="recipe" data-category="category-{{data.category}}">
  <div class="intro-banner">
    <div class="intro-banner__hero-wrapper">
      {% if img.alt %}
        <img class="intro-banner__img" src="../../assets/{{title|slug/}}.jpg" alt="{{img.alt}}" />
        <div class="intro-banner__img-credit">Photo Credit: {{img.credit}}</div>
      {% endif %}
    </div>
    <div class="intro-banner__content">
      <div class="intro-banner__links">
        <div class="intro-banner__source"><span>Source:</span> <button class="intro-banner__source-btn btn--secondary btn">{{data.author}}</button></div>
        <button class="intro-banner__category btn--secondary btn">{{data.category}}</button>
      </div>
      <h2 class="intro-banner__title">{{title}}</h2>
      <div class="intro-banner__quick-facts">
        {% if data.servings %}
        <p class="intro-banner__servings intro-banner__quick-fact">
          <span class="intro-banner__servings-icon"></span>
          <em>Servings</em> 
          {{data.servings}}</p>
        {% endif %}

        {% if data.time %}
        <p class="intro-banner__time intro-banner__quick-fact">
          <span class="intro-banner__time-icon"></span>
          <em>Time</em> {{data.time}}</p>
        {% endif %}

        {% if data.difficulty %}
        <p class="intro-banner__difficulty intro-banner__quick-fact" data-difficulty='{{data.difficulty}}'>
          <span class="intro-banner__difficulty-icon"></span>
          <em>Difficulty</em> {{data.difficulty}}</p>
        {% endif %}
      </div>
    </div>
  </div>

  <section class="ingredient-panel">
    <h3 class="header-secondary">Ingredients</h3>
    <div>{{ingredients}}</div>
  </section>

  <section class="instructions-panel">
    <h3 class="header-secondary">Instructions</h3>
    <div>{{content | safe }}</div>
  </section>

  {% if nutrition %}
  <aside class="nutrition-panel">

    <div class="nutrition-panel__content">
      <h3 class="header-secondary">Nutritional Information</h3>
      <ul>
        <li class="nutrition-panel__callout">{{nutrition.calories}} <em>calories</em></li>
        <li class="nutrition-panel__item"><em>Total Fat</em>{{nutrition.totalFat}}g</li>
        <li class="nutrition-panel__item"><em>Saturated Fat</em>{{nutrition.saturatedFat}}g</li>
        <li class="nutrition-panel__item"><em>Trans Fat</em>{{nutrition.transFat}}g</li>
        <li class="nutrition-panel__item"><em>Cholesterol</em>{{nutrition.cholesterol}}mg</li>
        <li class="nutrition-panel__item"><em>Total Carbs</em>{{nutrition.carbs}}g</li>
        <li class="nutrition-panel__item"><em>Sodium</em>{{nutrition.sodium}}mg</li>
        <li class="nutrition-panel__item"><em>Sugar</em>{{nutrition.sugar}}g</li>
        <li class="nutrition-panel__item"><em>Protein</em>{{nutrition.protein}}g</li>
        <li class="nutrition-panel__item"><em>Fiber</em>{{nutrition.fiber}}g</li>
      </ul>
    </div>
  </aside>
  {% endif %}
</main>
